/*

	modern.css - A modern look CSS sample file

	Author : Osvaldo Santana Neto <osantanabr (a) brturbo com>
	Date   : June 2004
	License: GPL

	Part of the txt2tags project <http://txt2tags.sf.net>


	Modified by D.L. Ferrario 
//  src:url(http://www.matapp.unimib.it/~ferrario/MyUnderwood.ttf) format('truetype');
// src:url(http://www.matapp.unimib.it/~ferrario/uwch.ttf) format('truetype');
src:url(http://www.matapp.unimib.it/~ferrario/fonts/GoudyStM-webfont.ttf) format('truetype');
// background-image:url('WiiD.png');

*/

@font-face { font-family: 'MyFontDatum'; 
src:url(http://www.matapp.unimib.it/~ferrario/POWDRFT_.ttf) format('truetype');
}

<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>



body {
	margin: 0px;
	padding: 0px;
	font-family: 'MyFontDatum', Georgia, Palatino, "Times New Roman", Times, serif;
	font-style : normal; 
	font-variant : normal;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:bottom right;
	background-color: GhostWhite;
	color: DarkSlateGray;
}

div.header {
	border-bottom: 2px solid black;
	background-image:url('http://peano.matapp.unimib.it/~ferrario/rimg.php');
	background-repeat:no-repeat;
	background-position:top left;
	background-color: GhostWhite;
	background-size: 100%;
	background-width: 100%;
	height: 52px;
}

div.header h1 {
	float: left;
	margin-left: 12pt;
	font-family: 'MyFontDatum', "Courier New", Courier, monospace;
	font-size: 18pt;
	font-weight: bold;
}

div.header h2 {
	text-align: right;
	margin-right: 12pt;
	font-family: 'MyFontDatum', "Courier New", Courier, monospace;
	font-size: 14pt;
}

div.header h3 {
	text-align: right;
	margin-right: 12pt;
	margin-bottom: 24pt;
	font-family: 'MyFontDatum', "Courier New", Courier, monospace;
	font-size: 14pt;
	font-weight: normal;
}

div.toc {
        position:absolute;
	width:18%;
	top:56pt;
	left:80%;
	float: right;
	padding-left: 6pt;
	padding-right: 6pt;
	font-size: 9pt;
	font-weight:bold 
}



div.toc ul {
	padding-left: 6pt;
}

div.toc li {
	font-size: 8pt;
	font-weight: bold;
}

div.toc a {
	font-size: 8pt;
	font-weight: bold;
	color: #C00;
	text-decoration: none;
}

div.toc a:hover {
	text-decoration: underline;
}

div.body {
        position:absolute;
	float: left;
	width: 75%;
	padding: 10px;
	border-right: 2px dotted black;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
font-family: 'MyFontDatum', "Courier New", Courier, monospace;
}

div.body h1 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 14pt;
	border-left: 4px solid black;
	border-bottom: 2px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h2 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 12pt;
	font-weight: normal;
	border-left: 4px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h3 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	background: #F0F0F0;
}

div.body h4 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	font-weight: normal;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
}

div.body h5 {
	width: 80%;
	text-align: left;
	margin-top: 6pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	padding: 5px;
}


div.body a {
	text-decoration: none;
	color: #C00;
}

div.body a:hover {
	text-decoration: underline;
}

div.body blockquote {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background: #FFFFBB;
	padding: 15px;
}
div.body blockquote p {
	margin-top: 2pt;
	margin-bottom: 2pt;
}

div.body pre {
	background: #FFFFBB;
	padding: 15px;
	border: 1px dashed black;
	font-family: 'MyFontDatum', "Courier New", Courier, monospace;
}

div.body dt {
	background: #BBFFBB;
	padding: 3pt;
	border-left: 3px solid black;
	font-family: Georgia, Serif;
	font-size: 16pt;
	margin-top: 18pt;
	margin-bottom: 8pt;
}

div.toc pre  {
        position:absolute;
	top:6740pt;
        left:-360px;
	float: right;
	font-size: 9pt;
	padding-left: 6pt;
 	font-style:italic;
        font-weight:100;
	background: #cfcfcf;
	padding: 24px;
	border: 2px solid gray;
}

img {
vertical-align: text-top;
}


li  {
width:82%;
padding: 6px;
background: #FFFFBB;
border: 1px dashed black;
margin: 12px;
vertical-align: middle;
}

li li  {
border: none;
background: #F0F0B0;
padding: 6px;
}

ol li {
display: list-item;
vertical-align: top;
}

/* Tables are used by: docs, sample */
table
	{
	font-size	: 100%; /* Needed to inherit the body font size*/
	border-color	: #ccc;
	}
th
	{
	background-color: #ddd;
	padding		: .5em 0;
	border-color	: #ccc;
	border-style	: solid;
	}
td
	{
	border-style	: none;
	padding		: .2em .5em;
	}

form
	{
	margin-bottom	: 2em;
	}




